<html ng-app="sampleApp">
  <head>
    <title><%= @title %> Login</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-deckgrid/angular-deckgrid.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/accountsApi.js"></script>
    <script src="/scripts/services/alerts.js"></script>
    <script src="/scripts/controllers/accounts.js"></script>
    <%= erb :apiroots %>
  </head>
  <body>
    <h1>Sample App</h1>
    <div ng-controller="AccountsCtrl">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <div ng-view></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
